# Day 7 :

## Tuple 

* A tuple is a list that cannot change. Python refers to a value that cannot change as immutable. So by definition, a tuple is  an immutable list.

### Defining a Tuple

In [1]:
rgb = ('red', 'green', 'blue')

print(rgb[0])
print(rgb[1])
print(rgb[2])

red
green
blue

### Count Method in Tuple 

Return the number of times the value 5 appears in the tuple.

In [3]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

2

### Index Method in Tuple 

The index() method finds the first occurrence of the specified value.

The index() method raises an exception if the value is not found.

In [4]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

3

# Dictionary 

A Python dictionary is a collection of key-value pairs where each key is associated with a value.

A value in the key-value pair can be a number, a string, a list, a tuple, or even another dictionary. In fact, you can use a value of any valid type in Python as the value in the key-value pair.

A key in the key-value pair must be immutable. In other words, the key cannot be changed, for example, a number, a string, a tuple, etc.

When we say that dictionaries are ordered, it means that the items have a defined order, and that order will not change.

In [14]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

print(person)

{'first_name': 'John', 'last_name': 'Doe', 'age': 25, 'favorite_colors': ['blue', 'green'], 'active': True}

### Accesing Items

In [15]:
print(person['first_name'])
print(person['last_name'])

John
Doe

## Dictionary Methods

### Clear Methods 

The clear() method removes all the elements from a dictionary.

In [16]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.clear()

print(car)

{}

### Copy Method 

The copy() method returns a copy of the specified dictionary.

In [17]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.copy()

print(x)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

### fromkeys Method 

The fromkeys() method returns a dictionary with the specified keys and the specified value.

In [18]:
x = ('key1', 'key2', 'key3')
y = 0

thisdict = dict.fromkeys(x, y)

print(thisdict)

{'key1': 0, 'key2': 0, 'key3': 0}

In [19]:
x = ('key1', 'key2', 'key3')

thisdict = dict.fromkeys(x)

print(thisdict)

{'key1': None, 'key2': None, 'key3': None}

### Get Method 

The get() method returns the value of the item with the specified key.

In [20]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.get("model")

print(x)

Mustang

In [22]:
# Try to return the value of an item that do not exist:

car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.get("price", 15000)

print(x)

15000

### items Method 

The items() method returns a view object. The view object contains the key-value pairs of the dictionary, as tuples in a list.

In [23]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.items()

print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [24]:
# When an item in the dictionary changes value, the view object also gets updated

car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.items()

car["year"] = 2018

print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2018)])

### Keys Method 

The keys() method returns a view object. The view object contains the keys of the dictionary, as a list.

In [25]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.keys()

print(x)

dict_keys(['brand', 'model', 'year'])

### Pop Method 

The pop() method removes the specified item from the dictionary.

In [28]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.pop("model")

print(car)

{'brand': 'Ford', 'year': 1964}

### Popitem Method 

The popitem() method removes the item that was last inserted into the dictionary.

In [30]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.popitem()

print(car)

{'brand': 'Ford', 'model': 'Mustang'}

### Update Item 

The update() method inserts the specified items to the dictionary.

In [31]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.update({"color": "White"})

print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'White'}

### Values Method 

 The values() method returns a view object. The view object contains the values of the dictionary, as a list.

In [32]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.values()

print(x)

dict_values(['Ford', 'Mustang', 1964])

## Loop Through a Dictionary

In [33]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(x)

brand
model
year

In [34]:
for x in thisdict:
  print(thisdict[x])

Ford
Mustang
1964

In [35]:
for x in thisdict.values():
  print(x)

Ford
Mustang
1964

In [36]:
for x in thisdict.keys():
  print(x)

brand
model
year

In [37]:
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 1964

# Set 

A Python set is an unordered list of immutable elements. It means:

- Elements in a set are unordered.
- Elements in a set are unique. A set doesnâ€™t allow duplicate elements.
- Elements in a set cannot be changed. For example, they can be numbers, strings, and tuples, but cannot be lists or dictionaries.

In [39]:
skills = {'Python programming','Databases', 'Software design'}
print(skills)

{'Software design', 'Databases', 'Python programming'}

###  Acees Set Items 

We cannot access items in a set by referring to an index or a key for Accessing Element we have to Use Loop.

In [41]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
apple
banana

### Add Items in the Set

In [45]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'cherry', 'apple', 'orange', 'banana'}

In [43]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'banana', 'pineapple', 'cherry', 'apple', 'mango', 'papaya'}

In [46]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'banana', 'apple', 'kiwi', 'cherry', 'orange'}

### Remove Set Items 

To remove an item in a set, use the remove(), or the discard() method.

In [47]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [48]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [49]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [50]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

## Set Method

### Add Method 

The add() method adds an element to the set.

If the element already exists, the add() method does not add the element.

In [51]:
fruits = {"apple", "banana", "cherry"}

fruits.add("orange")

print(fruits)

{'cherry', 'apple', 'orange', 'banana'}

### Clear Method
The clear() method removes all elements in a set.

In [52]:
fruits = {"apple", "banana", "cherry"}

fruits.clear()

print(fruits)

set()

### Difference Method 

The difference() method returns a set that contains the difference between two sets.

Meaning: The returned set contains items that exist only in the first set, and not in both sets.

In [53]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)

print(z)

{'cherry', 'banana'}

In [55]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = y.difference(x)

print(z)

{'google', 'microsoft'}

### Difference_Upadte Method


The difference_update() method removes the items that exist in both sets.

The difference_update() method is different from the difference() method, because the difference() method returns a new set, without the unwanted items, and the difference_update() method removes the unwanted items from the original set.

In [56]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y)

print(x)

{'cherry', 'banana'}

### intersection() Method

The intersection() method returns a set that contains the similarity between two or more sets.

Meaning: The returned set contains only items that exist in both sets, or in all sets if the comparison is done with more than two sets.

In [57]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [58]:
x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

result = x.intersection(y, z)

print(result)

{'c'}

### intersection_update() Method

The intersection_update() method removes the items that is not present in both sets (or in all sets if the comparison is done between more than two sets).

In [59]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

### isdisjoint() Method

The isdisjoint() method returns True if none of the items are present in both sets, otherwise it returns False.

In [60]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)

print(z)

True

### issubset() Method

The issubset() method returns True if all items in the set exists in the specified set, otherwise it retuns False.

In [61]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

True

###  issuperset Method 

The issuperset() method returns True if all items in the specified set exists in the original set, otherwise it retuns False.

In [62]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

True

### symmetric_difference() Method 

The symmetric_difference() method returns a set that contains all items from both set, but not the items that are present in both sets.

In [63]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'google', 'banana', 'microsoft', 'cherry'}

### symmetric_difference_update() Method

The symmetric_difference_update() method updates the original set by removing items that are present in both sets, and inserting the other items.

In [64]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'google', 'banana', 'microsoft', 'cherry'}

### union() Method

The union() method returns a set that contains all items from the original set, and all items from the specified set(s).

You can specify as many sets you want, separated by commas.

It does not have to be a set, it can be any iterable object.

If an item is present in more than one set, the result will contain only one appearance of this item.

In [65]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)

print(z)

{'google', 'banana', 'microsoft', 'cherry', 'apple'}

In [66]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.update(y)

print(x)

{'google', 'banana', 'microsoft', 'cherry', 'apple'}